node_modules

gulp/**.json
gulp/config
gulp/tasks/copy.js
gulp/tasks/fonts.js
gulp/tasks/html.js
gulp/tasks/images.js
gulp/tasks/reset.js
gulp/tasks/scss.js
gulp/tasks/rservereset.js
gulp/tasks/svgSprite.js