@font-face {
	font-family: Bogart;
	font-display: swap;
	src: url("../fonts/Bogart-Thin.woff2") format("woff2"), url(".../fonts/Bogart-Thin");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: Bogart;
	font-display: swap;
	src: url("../fonts/Bogart-Regular-trial.woff2") format("woff2"), url(".../fonts/Bogart-Regular-trial");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url(".../fonts/OpenSans-Light");
	font-style: normal;
}
@font-face {
	font-family: OldStandardTT;
	font-display: swap;
	src: url("../fonts/OldStandardTT-Regular.woff2") format("woff2"), url(".../fonts/OldStandardTT-Regular");
	font-style: normal;
}
