
@import "fonts";
$white: #ffffff;
$milk: #fffbf5;
$darkbroun: #554338;
$lightbrown: #8a663f;
$black: #000000;
$bluegrey: #9db7be;
$oldstandart: 'Old Standard TT', serif;
$opensans: 'Open Sans', sans-serif;
$bogart: 'Bogart', serif;
$time-link: .5s;
$d1200: 1200px;
$d1000: 1000px;
$d900: 900px;
$d770: 770px;
$d660: 660px;
$d500: 500px;
$d350: 350px;
$burger_stroke: 3px;
:root {
    --otherlist-lineheight: 2em;
    --otherlist-height: 4em;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
a {
    cursor: pointer;
    text-decoration: none;
}
html {
    overflow-x: clip;
}
body {
    pointer-events: all;
    background-color: $milk;
    overflow-x: clip;
    margin: 0 auto;
    font-family: $oldstandart;    
    margin: 0 auto;
}
body.stop-scrolling {
    overflow: auto;
}
.container {
    padding: 40px 80px;
    margin: 0 auto;
    @media (max-width: $d1200) {
        padding: 40px 60px;
    }
    @media (max-width: $d900) {
        padding: 40px 40px;
    }
    @media (max-width: $d660) {
        padding: 20px 20px;
    }
    max-width: 1536px;
}
@mixin background-image-rule {
    background-position: center bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.link {
    text-decoration: none;
    color: $darkbroun;
    display: inline-block;
    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: $darkbroun;
      transform: scale(0);
      display: block;
      transition: $time-link;
      margin-top: 1px;
      transform-origin: left;
    }
    &:hover {
      &::after {
        transform: scale(1);
        transition: $time-link;
      }
    }
}
.header {
    position: fixed;
    z-index: 9999;
    top: 0;
    font-family: $opensans;
    background-color: rgba($milk, .8);
    width: 100%;
    font-size: 18px;
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 20px 80px;
        width: 100%;
        max-width: 1536px;
        margin: 0 auto;
        @media(max-width: $d900) {
            padding: 20px 40px;
        }
    }
    &__nav {
        width: 80%;
        @media(max-width: $d660) {
            display: none;
        }
        &-mainlist {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex: 0 0 100%;
        }        
        &-link {
            text-decoration: none;
            color: $darkbroun;
            display: inline-block;
            &::after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $darkbroun;
            transform: scale(0);
            display: block;
            transition: $time-link;
            margin-top: 1px;
            transform-origin: left;
            }
            &:hover {
                &::after {
                  transform: scale(1);
                  transition: $time-link;
                }
            }
            &.inview {
                &::after {
                    transform: scale(1);
                    transition: $time-link;
                  }
            }
        }
        &-otherlist {
            position: fixed;
            top: 67px;
            height: 0;
            overflow: hidden;
            transition: height $time-link ease;
            line-height: var(--otherlist-lineheight);
            background-color: rgba($milk, .8);
            &.visible {
                height: var(--otherlist-height);
            }
            & .header__nav-link {
                &::after {
                    margin-top: -.3em;
                }
            }
        }
    }
    &__card {
        width: 1em;
        height: 1em;
        position: relative;
        &-img {
            width: 50px;
            height: 50px;
            position: absolute;
            top: -10px;
            right: 0;
        }
    }
}
.main {
    padding-top: 80px;
    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        @media(max-width: $d660) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 80%;
        @media(max-width: $d770) {
            width: 90%;
        }
        @media(max-width: $d660) {
            width: 60%;
        }
        @media(max-width: $d500) {
            width: 90%;
        }
    }
    &__photo {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0;
        padding-bottom: 113%;
        height: 0;
        position: relative;
        &-img {
            position: absolute;
            bottom: 50%;
            transform: translateY(50%);
            width: 100%;
        }
    }
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__logo {
        width: 120px;
        height: auto;
        margin-bottom: 30px;
        &-img {
            width: 100%;
        }
        @media(max-width: $d900) {
            width: 100px;
        }
        @media(max-width: $d770) {
            width: 90px;
        }
        @media(max-width: $d770) {
            width: 120px;
        }
    }
    &__social {
        display: flex;
        width: 60%;
        justify-content: space-between;
        margin-top: 40px;
        @media(max-width: $d1200) {
            width: 80%;
        }
        @media(max-width: $d900) {
            width: 100%;
        }
        @media(max-width: $d660) {
            width: 60%;
        }
        @media(max-width: $d500) {
            width: 70%;
        }
        @media(max-width: $d350) {
            width: 90%;
        }
        &-link {
            width: 50px;
            height: auto;
            display: inline-block;
            & .svg_animate {
                transform: scale(1);
                transition: $time-link;
            }
            &:hover .svg_animate {
                transform: scale(1.1);
            }
            @media (max-width: $d500) {
                width: 45px;
            }
            @media (max-width: $d350) {
                width: 40px;
            }

        }
        &-img {
            width: 100%;
        }
    }
}
.h3 {
    font-size: 20px;
    font-family: $bogart;
    font-weight: 300;
    margin-bottom: 0;
    text-align: center;
    @media (max-width: $d1000) {
        font-size: 18px;
    }
    @media (max-width: $d770) {
        font-size: 16px;
    }
    @media (max-width: $d660) {
        font-size: 20px;
    }
    @media (max-width: $d500) {
        font-size: 16px;
    }
    @media (max-width: $d350) {
        font-size: 14px;
    }
}
.burger__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
}
.line {
    fill: none;
    stroke: $darkbroun;
    stroke-width: $burger_stroke;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: $burger_stroke;
}
.line2 {
      stroke-dasharray: 60 60;
      stroke-width: $burger_stroke;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: $burger_stroke;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: $burger_stroke;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: $burger_stroke;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: $burger_stroke;
}
.burger__btn {
    display: none;
    @media(max-width: $d660) {
        display: block;
    }
}
.header__burger {
    display: none;
    @media(max-width: $d660) {
        display: block;
    }
    & .header__nav-mainlist {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        position: fixed;
        top: 92px;
        left: 50%;
        transform: translateX(-50%);
        height: 0;
        overflow: hidden;
        transition: height $time-link ease;
        line-height: var(--otherlist-lineheight);
        background-color: rgba($milk, .9);
        &.visible {
            height: 17em;
        }
        & .header__nav-link {
            &::after {
                margin-top: -.3em;
            }
        }
        
    }
}
.h1 {
    font-family: $oldstandart;
    color: $lightbrown;
    font-size: 62px;
    font-weight: 300;
    @media (max-width: $d1000) {
        font-size: 48px;
    }
    @media (max-width: $d770) {
        font-size: 42px;
    }
    @media (max-width: $d660) {
        font-size: 48px;
    }
    @media (max-width: $d500) {
        font-size: 42px;
    }
    @media (max-width: $d350) {
        font-size: 36px;
    }
}
.h1__decor {
    width: 50vw;
    height: 3px;
    background-color: $bluegrey;
    justify-content: flex-start;
    margin-bottom: 30px;
}
.h2 {
    margin-top: .5em;
    font-family: $oldstandart;
    color: $darkbroun;
    font-size: 28px;
    text-align: center;
    @media(max-width: $d900) {
        font-size: 24px;
    }
}
.bio {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: $oldstandart;
    }
    &__subtitle {
        font-size: 18px;
        margin-bottom: 1em;
        font-family: $bogart;
        font-weight: 400; // ? не знаю как лучше
        // font-weight: 300;
    }
    &__grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 2fr 1fr;
        @media(max-width: $d660) {
            display: flex;
            flex-direction: column;
        }
    }
    &__text {
        font-family: $bogart;
        // font-weight: 300;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
        &-p {
            margin-bottom: 1em;
        }
        &-footer {
            text-align: right;
        }
    }
}
.news {
    &__grid {
        display: grid;
        margin-top: 30px;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 50px;
        @media(max-width: $d900) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
    &__item {
        display: grid;
        gap: 1em;
        grid-template-columns: 1fr 3fr;
        @media(max-width: $d500) {
            display: flex;
            flex-direction: column;
        }
        &-preview {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            font-family: $opensans;
            font-size: 18px;
            @media(max-width: $d500) {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
        &-date, &-day, &-time {
            font-size: 18px;
            line-height: 1.5;
            min-height: 27px;
        }
        &-wrapper{
            width: 100%;
            @media(max-width: $d500) {
                width: 25%;
            }
            @media(max-width: $d350) {
                width: 40%;
            }
        }
        &-cover {
            overflow: hidden;
            -webkit-box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.75);
            box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.75);
            height: 0;
            overflow: hidden;
            padding: 0;
            width: 100%;
            padding-bottom: 156%;
            position: relative;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &-img {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &-content {
        }
        &-title {
            font-family: $oldstandart;
            color: $lightbrown;
            text-transform: uppercase;
            font-size: 20px;
            min-height: calc(3*27px);
            @media(max-width: $d1200) {
                font-size: 17px;
            }
            @media(max-width: $d900) {
                font-size: 20px;
            }
            @media(max-width: $d500) {
                min-height: inherit;
                text-align: center;
                margin-bottom: 10px;
                font-size: 16px;
            }
        }
        &-text {
            font-family: $oldstandart;
            font-size: 18px;
            text-align: justify;
            line-height: 1.3;
            @media(max-width: $d900) {
                font-size: 20px;
                line-height: 1.5;
            }
            @media(max-width: $d500) {
                font-size: 14px;
            }
        }
    }
}
.books {
    &__grid {
        display: grid;
        margin-top: 50px;
        row-gap: 50px;
        column-gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        @media(max-width: $d1200) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media(max-width: $d900) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media(max-width: $d500) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &__title {
        &-subtitle {
            text-align: left;
            font-size: 12px;
            font-family: $bogart;
            color: $black;
            font-weight: 400;
            & .link {
                color: $darkbroun;
            }
        }
        & .h1__decor {
            width: 100%;
        }
        &-info {
            margin-top: 20px;
            text-align: left;
            font-size: 11px;
            font-family: $bogart;
            color: $black;
            font-weight: 400;
        }        
    }
    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &-wrapper{
            width: 25%;
            transform: scale(1);
            transition: $time-link;
            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
            @media(max-width: $d660) {
                width: 30%;
            }
            @media(max-width: $d500) {
                width: 40%;
            }
        }
        &-cover {
            overflow: hidden;
            -webkit-box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.75);
            box-shadow: 2px 1px 5px 1px rgba(0,0,0,0.75);
            height: 0;
            overflow: hidden;
            padding: 0;
            width: 100%;
            padding-bottom: 156%;
            position: relative;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            margin: 0 auto;
            
        }
        &-img {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &-title {
            font-family: $oldstandart;
            font-size: 14px;
            text-align: center;
            margin: 20px auto 0;
        }
        &-text {
            font-family: $bogart;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }
        &-btn {
            margin: 15px auto;
            border: none;
            padding: 10px 40px;
            text-transform: uppercase;
            font-size: 14px;
            color: $milk;
            background-color: $lightbrown;
            border-radius: 7px;
            font-family: $opensans;
            transition: all $time-link ease;
            &:hover {
                cursor: pointer;
                background-color: $darkbroun;
            }
        }
    }
    &__go {
        margin: 50px auto 0;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
    left: 50%;
    transform: translateX(-50%);
        &-img {
            width: 1.3em;
            margin-right: .5em;
        }
    }

    
}
.reviews {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        @media (max-width: $d900) {
            display: flex;
            flex-direction: row;
            gap: 40px;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (max-width: $d500) {
            display: flex;
            flex-direction: column;
        }
    }
    &__item {
        max-width: 100%;
        @media(max-width: $d900) {
            max-width: 40%;
        }
        @media(max-width: $d500) {
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 4fr;
            gap: 10px;
        }
        &-wrapper{
            width: 100%;
            margin: 0 auto;
        }
        &-cover {
            overflow: hidden;
            -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
            box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.75);
            height: 0;
            overflow: hidden;
            padding: 0;
            width: 100%;
            padding-bottom: 74%;
            position: relative;
        }
        &-img {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &-title {
            font-family: $oldstandart;
            font-size: 24px;
            margin: 10px 0;
            @media(max-width: $d1000) {
                font-size: 20px;
            }
            @media(max-width: $d660) {
                font-size: 14px;
            }
            @media(max-width: $d500) {
                font-size: 16px;
                min-height: inherit;
                margin: 0;
            }
        }
        &-date {
            font-family: $opensans;
            font-size: 16px;
            margin-bottom: 0.3em;
        }
        &-text {
            font-family: $bogart;
            font-size: 16px;
            font-weight: 300;
            @media(max-width: $d1000) {
                font-size: 14px;
            }
        }
        &-read {
            font-size: 16px;
        }
    }
}